.env
.env.production
/venv/*
/venv
/.idea/
/venv/
__pycache__/*
/bloggy_api/__pycache__/*
/bloggy/__pycache__/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
__pycache__
/bloggy/media/uploads/*
/bloggy/media/uploads/*.*

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
*.__pycache__
**.pyc

# Sphinx documentation
docs/_build/
/bloggy_frontend/node_modules/
/bloggy/static/
/bloggy/static
/bloggy/static/debug_toolbar
/bloggy/static/hitcount
/bloggy/static/media
/bloggy/static/rest_framework
/bloggy/static/summernote
/bloggy/static/colorfield
/bloggy/static/admin/
media/uploads/default_avatar.png
media/uploads/articles/*
media/uploads/categories/*
media/uploads/course/*
media/uploads/quiz/*
media/uploads/user/*