{% if LOAD_GOOGLE_ADS %}
    <div style="max-width: 720px" class="my-3">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5125794458843883"
            crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-gt+x-w-gx+x2"
         data-ad-client="ca-pub-5125794458843883"
         data-ad-slot="7331401939"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
{% else %}
    <div class="d-flex align-items-center bg-light my-3" style="width:100%;height:100px;">
        <small class="text-center font-xs text-muted mx-auto">AD-SPACE</small>
    </div>
{% endif %}
