{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% include "seo/seotags.html" %}
    {% block jsonld %}{% endblock jsonld %}
    {% include "seo/header_scripts.html" %}
</head>
<body class="{% block base_css_class %}{% endblock base_css_class %} d-flex flex-column h-100">
<div id="toastContainer"></div>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQF9FG5" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<header id="layout-header" class="sticky-top d-print-none">
    {% include "partials/header.html" %}
</header>
<main>
    {% include 'widgets/feedback-form.html' %}
    {% block content %}{% endblock content %}
</main>
</body>
</html>