{% spaceless %}
    {% load static %}
    {% load custom_widgets %}
    <!doctype html>
    <html lang="en" class="h-100">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        {% load static %}
        {% include "seo/seotags.html" %}
        {% block jsonld %}{% endblock jsonld %}
        {% block inline_styles %}{% endblock inline_styles %}
        {% block inline_scripts %}{% endblock inline_scripts %}
        {% include "seo/header_scripts.html" %}
    </head>
    <body class="{% block base_css_class %}{% endblock base_css_class %} d-flex flex-column h-100">
    <div id="toastContainer"></div>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQF9FG5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header id="layout-header" class="sticky-top d-print-none">
        {% include "partials/header2.html" %}
    </header>
    {% comment %}<div class="d-none d-print-block text-center py-5">
        <a href="{% url 'index' %}">
            <img src="{% static 'media/logo.png' %}" alt="StackTips" width="auto" height="80"
                 style="box-shadow: 5px 15px 15px rgb(89 152 152 / 5%);">
        </a>
    </div>{% endcomment %}
    <main>
        {% if messages %}
            <div class="col-lg-5 mx-auto">
                {% for message in messages %}
                    <div class="mt-3 alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}{% endblock content %}
    </main>
    <footer class="footer mt-auto bg-dark">
        {% include "partials/footer.html" %}
    </footer>
    </body>
    </html>
{% endspaceless %}