{% extends "base-with-header-footer.html" %}
{% load static %}
{% load custom_widgets %}
{% block base_css_class %}bg-white{% endblock base_css_class %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-3 col-xl-3">
            {% include 'partials/dashboard_menu.html' with user=user %}
        </div>

        <div class="col-12 col-lg-9 col-xl-8">
            <div class="card p-lg-5 p-3 card-bordered card-shadowd">
                <h1 class="h2">Dashboard</h1>
                {% if posts|length <= 0 %}
                    <p class="text-muted">Currently, there are no published posts.</p>
                {% else %}
                    {% for post in posts %}
                        {% include 'partials/article_row_list.html' with post=post %}
                    {% endfor %}
                    {% include 'partials/paging.html' with posts=posts %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-3">
    </div>
</div>
</div>

{% endblock %}