{% extends "base-with-header-footer.html" %}
{% load custom_widgets %}
{% load static %}
{% block base_css_class %}bg-white{% endblock base_css_class %}
{% block content %}
    <div class="container mt-4 mt-lg-5">
        <div class="row">
            <div class="col-12 col-lg-3 col-xl-3">
                {% include 'partials/user_profile_menu.html' with user=user %}
                {% include 'partials/dashboard_menu.html' with user=user %}
            </div>

            <div class="col-12 col-lg-9 col-xl-6">
                <div class="card p-lg-5 p-3 card-bordered card-shadowd">
                    <h1 class="h2">Change username</h1>
                    <form method="post" action="" class="col-12 col-lg-12 custom-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary">Change username</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
