{% extends "base-with-header-footer.html" %}
{% load custom_widgets %}
{% load static %}
{% block base_css_class %}bg-white{% endblock base_css_class %}
{% block content %}
    <section class="article-breadcrumb d-none d-md-block d-print-none">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}" class=" font-sm fw-500">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'profile.account' %}" class="font-sm fw-500">Account</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <span class=" text-muted font-sm fw-500">Change username</span>
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">
                {% include 'partials/dashboard_menu.html' with user=user %}
            </div>

            <div class="col-lg-7">
                <div class="card p-lg-5 p-3 card-bordered card-shadowd">
                    <h1 class="h2">Update username</h1>
                    <form method="post" action="" class="col-12 col-lg-9 custom-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary">Update username</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
