{% extends "base-with-header-footer.html" %}
{% load static %}
{% load custom_widgets %}
{% block base_css_class %}bg-light{% endblock base_css_class %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-lg-3 col-xl-3">
                {% include 'partials/user_profile_menu.html' with user=user %}
                {% include 'partials/dashboard_menu.html' with user=user %}
            </div>

            <div class="col-12 col-lg-9 col-xl-7">
                {% if posts %}
                    <div class="bg-white padding-medium">
                        <h1 class="display-3 fw-600 pb-2">Bookmarks</h1>
                        {% for post in posts %}
                            {% include 'partials/article_bookmark_row_list.html' with post=post %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-lg-3">
            </div>
        </div>
    </div>

{% endblock %}
