{% extends "static-page.html" %}
{% load static %}
{% load custom_widgets %}
{% block static_page_content %}
    <h1 class="display-2 my-2">Code of conduct</h1>
    <p>All participants of StackTips Community are expected to abide by our Code of Conduct and
        Terms of Service, both online and during in-person events that are hosted and/or associated
        with this Community.</p>

    <h1 class="h3 mt-4">Comment policy</h1>
    <p>We encourage our readers to comment, debate and even disagree with authors view on published
        articles. But, without a few simple guidelines, such discussions often lead to displeasure
        to
        our readers and discourages others from entering into the fray.</p>

    <p>So here are some of the simple ground rules. By posting the comments on Stacktips, you agree
        to
        the following rules:</p>
    <ul>
        <li class="py-2"> We encourage our readers to comment, debate and even disagree with authors
            view on
            published
            articles. However, we don’t support or promote any content that glorify violence or
            hatred
            against any individual, group or company.
        </li>
        <li class="py-2">You do not require to register with us or logged in to comment. We use
            Disqus platform for
            managing
            StackTips comments. You may required to log-in via Disqus for getting notifications when
            other community member reply to your comments.
        </li>
        <li class="py-2">We hates spam comments. It’s not acceptable to to many unwanted or
            repetitive comments. Such
            users will be blocked permanently.
        </li>
    </ul>

    <h2>Moderation</h2>

    <p>All comments are review by web admin, before they are published. We reserve the right to
        delete
        comments that contains snarky remarks, offensive or off-topic.</p>

    <p>All the links in the comments are moderated before they are published on site. We don’t mind
        links
        as long as the links help educate readers. All other promotional links will be removed form
        comments.</p>
{% endblock static_page_content %}
