{% extends "static-page.html" %}
{% load static %}
{% load custom_widgets %}
{% block static_page_content %}
    <h1 class="display-2 my-2">Write for us</h1>

    <div class="page-body">
        <p id="73e56cce-295f-4c4e-8da6-8990ab75834e" class="">We are working on expanding content for this site, and we
            need your help in writing fresh new content that will help the newbie developers with their learning
            journey.</p>
        <p id="1f3695ff-a8b7-430f-b547-f515b0572fbc" class="">The choice of topics will be based on your expertise.
            Please do not apply if you&#x27;re still in the university/college or do not have in-depth knowledge
            knowledge on the topic.</p>
        <p id="682ba410-fa3e-43b4-9194-0478db486bbb" class="">The primary programming language must be one of the
            following:</p>
        <ul id="0289db03-c3bb-471b-80b5-b9387709f190" class="bulleted-list">
            <li style="list-style-type:disc">Java, Spring, Spring Boot</li>
            <li style="list-style-type:disc">Python, Django</li>
            <li style="list-style-type:disc">Android, Xamarin, Flutter, React Native</li>
            <li style="list-style-type:disc">Cloud tech - AWS, Google, Azure</li>
        </ul>
        <h3 id="compensation" class="">Compensation</h3>
        <p id="e5bdace5-5f5f-42cb-aea6-8c11e9ffa9b5" class="">You will be getting paid for your time and efforts spent.
            All payouts will be in INR and transferred directly to your account after the article goes live. </p>
        <table id="c1ec7054-a321-454a-9a98-f0b443d7b165" class="simple-table">
            <thead class="simple-table-header">
            <tr id="1fd3f644-23c1-4081-ac51-ab81e610a645">
                <th id="AI~S" class="simple-table-header-color simple-table-header"
                    style="width:257.33238220214844px"><strong>Article Size</strong></th>
                <th id="avxC" class="simple-table-header-color simple-table-header"
                    style="width:229.3361612955729px"><strong>Entry level</strong></th>
                <th id="|lFr" class="simple-table-header-color simple-table-header"
                    style="width:229.3361612955729px"><strong>Expert level</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr id="293e46be-c703-4ed4-a5d6-5aec14506a60">
                <th id="AI~S" class="simple-table-header-color simple-table-header"
                    style="width:257.33238220214844px">Small Article (300 – 450 words)
                </th>
                <td id="avxC" class="" style="width:229.3361612955729px">₹ 1000</td>
                <td id="|lFr" class="" style="width:229.3361612955729px">₹ 1500</td>
            </tr>
            <tr id="a37113bb-2b61-409e-890c-0b47f0ef4dc2">
                <th id="AI~S" class="simple-table-header-color simple-table-header"
                    style="width:257.33238220214844px">Medium Article (600 – 750 words)
                </th>
                <td id="avxC" class="" style="width:229.3361612955729px">₹ 2000</td>
                <td id="|lFr" class="" style="width:229.3361612955729px">₹3000</td>
            </tr>
            <tr id="907fc7c5-6ad3-4a43-a949-16cad519bcd0">
                <th id="AI~S" class="simple-table-header-color simple-table-header"
                    style="width:257.33238220214844px">Large Article (900 – 1500 words)
                </th>
                <td id="avxC" class="" style="width:229.3361612955729px">₹ 3000</td>
                <td id="|lFr" class="" style="width:229.3361612955729px">₹ 4500</td>
            </tr>
            <tr id="4a8b3458-e99e-4b64-a6a6-a8f88d7b5865">
                <th id="AI~S" class="simple-table-header-color simple-table-header"
                    style="width:257.33238220214844px">Extra words (1500+ words)
                </th>
                <td id="avxC" class="" style="width:229.3361612955729px">₹ 0.50 per word</td>
                <td id="|lFr" class="" style="width:229.3361612955729px">₹ 1 per word</td>
            </tr>
            </tbody>
        </table>
        <p id="fdb7cbe5-e84a-49da-bc06-c7c99aa4c795" class="">When you join the platform, you will be treated as an
            entry-level author. You will be moved to the expert level when you submit at least 5 posts and posts meet
            the quality stands.</p>
        <h3 id="writing-a-series" class="">Writing a Series</h3>
        <p id="e34c1b29-bc0a-4b32-8825-f54bde0bbf47" class="">If you want to write a series(at least 7 articles on a
            subject) on any new tech, please write to me and we can discuss the compensation. The minimum payout will be
            INR 20,000 and it could very up to 1000,000 INR.</p>
        <h3 id="authors-credit" class="">Author’s Credit</h3>
        <p id="50b166b6-ee6b-4eee-9ac5-468252a92a5a" class="">All the articles will be published under your name unless
            you decide otherwise. You will also be featured in our featured <a href="{% url 'authors' %}">authors page</a>.</p>
        <p id="1d648e75-8f6d-44ce-b8e6-408688640945" class="">If you think you are the right person to make this happen,
            please fill out the below form and wait for my call/email.</p>
        <h2 id="where-to-start" class="">Where to Start?</h2>
        <p id="e77db77a-d27b-4ec2-81fb-7c84826d8479" class="">If that doesn&#x27;t put you off, here&#x27;s how you go
            about submitting your content for consideration:</p>
        <ul id="92a3f6d7-df47-4eb8-be2e-62256c414dff" class="bulleted-list">
            <li style="list-style-type:disc">Send an ASCII text file - not Word! - containing your article to
                hello.stacktips@gmail.com. If you don&#x27;t know what an ASCII text file is, you&#x27;re probably not
                the kind of person we&#x27;re looking for - Sorry.
            </li>
            <li style="list-style-type:disc">Attach any images which might help illustrate the article to the email.
                Right-aligned images should be 180 pixels in width. Full-width images should be at least 720 pixels in
                width.
            </li>
            <li style="list-style-type:disc">Ideally, use basic HTML to write your file. By that I mean use
                <code>&lt;a href=&quot;URL&quot;&gt;</code>, <code>&lt;strong&gt;</code>, <code>&lt;em&gt;</code>, but
                don&#x27;t try to do anything snazzy with <code>&lt;font&gt;</code>, <code>&lt;span&gt;</code>,
                <code>&lt;div&gt;</code>, or <code>&lt;style&gt;</code>.
            </li>
            <li style="list-style-type:disc">You&#x27;ll appear on our list of guest contributors, so make sure not to
                forget to send us your photograph and a brief biography.
            </li>
        </ul>
        <p id="def79cb7-e1e0-44b3-9807-e4e91e3015fb" class="">Confused? Got a question? Drop us a line and we&#x27;ll
            try to explain.</p>
        <h2 id="guidelines" class="">Guidelines</h2>
        <p id="70c7be14-8c32-4aa6-a857-f2a716241d79" class="">Read this before writing your article to avoid time loss
            and frustration.</p>
        <ul id="acec413d-d9ec-47c3-803e-196f41a8c2ed" class="bulleted-list">
            <li style="list-style-type:disc"><strong>Quality: </strong>Content must be detailed, unique and at least 400
                words long without fluffs.
            </li>
            <li style="list-style-type:disc"><strong>Unique Content:</strong> Internet plagiarism, ChatGPT or duplicate
                content will be rejected.
            </li>
            <li style="list-style-type:disc"><strong>Original Content: </strong>The content must be original and has not
                appeared elsewhere online.
            </li>
            <li style="list-style-type:disc"><strong>Copyright: </strong>It doesn&#x27;t matter who writes the
                content, but you need to own it. We retain the copyright of all material published on StackTips. Once a
                post is live you cannot republish it elsewhere.
            </li>
        </ul>
        <p id="1112d19d-1998-439f-85a2-53f60aa81ea3" class="">If this all sounds good, please submit your post at <a
                href="mailto:hello.stacktips@gmail.com">hello.stacktips@gmail.com</a>.</p>
    </div>
{% endblock static_page_content %}