{% extends "static-page.html" %}
{% load static %}
{% load custom_widgets %}
{% block static_page_content %}
    <h1 class="display-2 my-2">Privacy policy</h1>
    <p>
        This privacy policy has been compiled to better serve those who are concerned with how their
        &lsquo;Personally
        Identifiable Information (PII) is being used online. PII, as described in US privacy law and
        information security, is information that can be used on its own or with other information
        to
        identify, contact, or locate a single person, or to identify an individual in context.
        Please
        read
        our privacy policy carefully to get a clear understanding of how we collect, use, protect or
        otherwise handle your Personally Identifiable Information in accordance with our website. We
        consider our reader's privacy seriously! We are committed to protecting the privacy and
        accuracy
        of
        confidential information to the extent possible. This document outlines our privacy policy
        statement
        to and our information gathering and dissemination practices. StackTips readers are free to
        visit,
        comment, test, and download code snippets, examples, docs, etc. without any user
        registration.
        StackTips may contain links to other sites. We are not responsible for the privacy practices
        or
        the
        content of such websites. This privacy document applies only to stacktips.com.
    </p>
    <h2 id="personal-information">Personal Information</h2>
    <p>
        Although there are many applications and websites that collect information and other
        statistics
        about
        their users, StackTips <strong>DO NOT</strong><span style="font-weight: 400;"> collect any personal information or use cookies about you when you visit this website.</span>
        If you contact us via this website, you might provide your name and email address. Such
        information
        is solely used for the purpose of replying to your inquiry. Any of your details are not used
        for
        any
        other reason and is not passed to anyone else without your consent. IP addresses are logged
        for
        aggregate statistics and diagnosis. We use third-party sites for statistics and analysis
        purposes.
        We have implemented and used to display advertising through remarketing with Google
        analytics.
    </p>
    <h2 id="cookies">Cookies</h2>
    <p>
        Cookies are small files placed on your computer which can log certain information about your
        visit.&nbsp;For
        instance, we use cookies to help us understand your preferences based on previous or current
        site
        activity, which enables us to provide you with improved services. We also use cookies to
        help us
        compile aggregate data about site traffic and site interaction so that we can offer better
        site
        experiences and tools in the future. We use cookies to:
    </p>
    <ul>
        <li>Understand and save users&rsquo; preferences for future visits.</li>
        <li>Keep track of advertisements.</li>
        <li>To understand the content of your interest to serve you with better quality content.</li>
    </ul>
    <h3 id="google">Google</h3>
    <p>
        We use third-party vendors, including Google, use first-party cookies (such as the Google
        Analytics
        cookie) and third-party cookies (such as the DoubleClick cookie) together to inform,
        optimize,
        and
        serve ads based on someone&rsquo;s past visits to our website. The information is stored by
        Google
        is adhered to Google&rsquo;s privacy policy. Google&rsquo;s advertising requirements can be
        summed
        up by Google&rsquo;s Advertising Principles. They are put in place to provide a positive
        experience
        for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en We use Google
        AdSense
        Advertising on our website.
    </p>
    <h2 id="contact">Contact</h2>
    <p>
        This privacy statement was last revised on 15th June 2016 We may change this privacy
        statement at
        any
        time and for any reason. If you have questions or comments about this privacy statement,
        please
        write to support[at]stacktips.com.
    </p>
{% endblock static_page_content %}