{% extends "static-page.html" %}
{% load static %}
{% load custom_widgets %}
{% block static_page_content %}
    <h1 class="display-2 my-2">Terms of service</h1>
    <p>This document outlines the legal terms of <a href="//stacktips.com">stacktips.com</a>, its
        sub-domains, and all
        associated web and/or mobile applications (collectively, &ldquo;Website&rdquo;), as owned
        and
        operated by StackTips.</p>
    <p>Capitalized terms, unless otherwise defined, have the meaning specified within the
        Definitions
        section below. This Terms of Service, along with our Privacy Policy, any mobile license
        agreement, and other posted guidelines within our Website, collectively &ldquo;Legal Terms&rdquo;,
        constitute the entire and only agreement between you and Stack tips, and supersede all other
        agreements, representations, warranties, and understandings with respect to our Website and
        the
        subject matter contained herein.</p>
    <p>We may amend our Legal Terms at any time without specific notice to you. The latest copies of
        our
        Legal Terms will be posted on our Website, and you should review all Legal Terms prior to
        using
        our Website. After any revisions to our Legal Terms are posted, you agree to be bound to any
        such changes to them. Therefore, it is important for you to periodically review our Legal
        Terms
        to make sure you still agree to them.</p>
    <p>By using our Website, you agree to fully comply with and be bound by our Legal Terms. Please
        review them carefully. If you do not accept our Legal Terms, do not access and use our
        Website.
        If you have already accessed our Website and do not accept our Legal Terms, you should
        immediately discontinue the use of our Website. The last update to our Terms of Service was
        posted on June 15, 2016.</p>
    <h3 id="definitions">Definitions</h3>
    <p>The terms &ldquo;us&rdquo; or &ldquo;we&rdquo; or &ldquo;our&rdquo; refer to Stacktips, the
        owner
        of the Website. A &ldquo;Visitor&rdquo; is someone who merely browses our Website but has
        not
        registered as Member. A &ldquo;Member&rdquo; is an individual that has registered with us to
        use
        our Service. Our &ldquo;Service&rdquo; represents the collective functionality and features
        offered through our Website to our Members. A &ldquo;User&rdquo; is a collective identifier
        that
        refers to either a Visitor or a Member. All text, information, graphics, audio, video, and
        data
        offered through our Website are collectively known as our &ldquo;Content&rdquo;.</p>
    <h3 id="legal-compliance">Legal Compliance</h3>
    <p>You agree to comply with all applicable domestic and international laws, statutes, ordinances,
        and regulations regarding your use of our Website. StackTips reserves the right to investigate
        complaints or reported violations of our Legal Terms and to take any action we deem appropriate,
        including but not limited to canceling your Member account, reporting any suspected unlawful
        activity to law enforcement officials, regulators, or other third parties and disclosing any
        information necessary or appropriate to such persons or entities relating to your profile, email
        addresses, usage history, posted materials, IP addresses, and traffic information, as allowed
        under our Privacy Policy.</p>

    <h3 id="intellectual-property">Intellectual Property</h3>
    <p>Unless otherwise stated, all content on this site or on our mobile apps is copyright of
        StackTips
        and all rights are reserved. Do not copy, adapt, redistribute, steal, pinch, pilfer, or
        otherwise use anything found on this site without my permission. Your use of our Website does
        not constitute any right or license for you to use such service marks/trademarks, without the
        prior written permission of the corresponding service mark/trademark owner. Our Website is also
        protected under international copyright laws. The copying, redistribution, use, or publication
        by you of any portion of our Website is strictly prohibited. Your use of our Website does not
        grant you ownership rights of any kind of our Website.</p>

    <h3 id="third-party-links">Third-Party Links</h3>
    <p>Our Website may contain links to third-party websites. These links are provided solely for
        your
        convenience to learn. By linking to these websites, we do not create or have an affiliation
        with
        or sponsor such third-party websites. The inclusion of links within our Website does not
        constitute any endorsement, guarantee, warranty, or recommendation of such third-party
        websites.
        StackTips has no control over the legal documents and privacy practices of third-party
        websites;
        as such, you access any such third-party websites at your own risk.
        <strong>Disclaimer</strong>,
        All opinions expressed on our site are personal views of our authors and do not represent
        the
        views of any company or organization. <strong>How we use your information</strong>, We take
        our
        reader's privacy seriously. Please read through our <a href="{% url 'pages.privacy' %}">privacy
            policy</a>
        practices.</p>

    <h3 id="general-terms">General Terms</h3>
    <p>Our Legal Terms shall be treated as though they were executed and performed in Karnataka,
        India,
        and shall be governed by and construed in accordance with the laws of Karnataka, India,
        without
        regard to conflict of law principles. In addition, you agree to submit to the personal
        jurisdiction and venue of such courts. Any cause of action by you with respect to our
        Website
        must be instituted within one (1) year after the cause of action arose or be forever waived
        and
        barred. Should any part of our Legal Terms be held invalid or unenforceable, that portion
        shall
        be construed consistent with applicable law and the remaining portions shall remain in full
        force and effect. To the extent that any Content on our Website conflicts or is inconsistent
        with our Legal Terms, our Legal Terms shall take precedence. </p>

    <p>Our failure to enforce any
        provision of our Legal Terms shall not be deemed a waiver of such provision nor of the right
        to
        enforce such provision. The rights of StackTips under our Legal Terms shall survive the
        termination of our Legal Terms. If you have questions or comments about this privacy
        statement,
        please get in <a>touch with us here</a>.</p>
{% endblock static_page_content %}