{% load static %}
{% load custom_widgets %}
{% load define_action %}
{% load shortcodes_filters %}
{% spaceless %}
    {% define post.author as author %}
    <div class="d-flex align-items-center ">
        <div class="flex-shrink-0">
            <img src="{{ author.get_avatar }}"
                 alt="{{ author.username }} avtar"
                 loading="lazy"
                 class="img-fluid m-0"
                 height="42px"
                 width="42px" style="border-radius: 50%"/>

        </div>
        <div class="flex-grow-1 ms-3">
            <a class="text-decoration-none fw-600 text-reset" href="{% url 'user_profile' username=author.username %}">
                {{ author.get_full_name_or_username }}
            </a>
            &nbsp;&nbsp;<span class="font-xs text-muted">|</span>&nbsp;&nbsp;
            {% for category in post.category.all %}
                <a class="text-decoration-none text-reset link-primary fw-bold"
                   style="z-index:999;position:relative"
                   href="{% url 'categories_single' slug=category.slug %}">
                    <span class="d-inline-block mb-1 text-primary text-lowercase fw-500">#{{ category.title }}</span>
                    {% if forloop.last != True %}
                        <span class="text-muted pe-2"></span>
                    {% endif %}
                </a>
            {% endfor %}
            &nbsp;&nbsp;<span class="font-xs text-muted">|</span>&nbsp;&nbsp;
            <span class="text-decoration-none font-sm fw-400">
                {{ post.updated_date|date:"M d, Y" }},&nbsp
            </span>

        </div>
    </div>
{% endspaceless %}

