{% load static %}
{% load custom_widgets %}
{% load define_action %}
{% load hitcount_tags %}
{% spaceless %}
    <div class="border-bottom py-3">
        <div class="d-flex align-items-center">
            <div class="flex-grow-1">
                <div class="hero article-meta-container mb-2" style="font-size: 0.75rem">
                    <small class="d-inline-block mb-1 text-muted text-uppercase">Updated
                        on {{ post.updated_date|date:"M j, Y" }}</small>
                    {% if  post.publish_status == 'DRAFT' %}
                        <span class="ms-3 badge-meta-pill {{ post.publish_status | lower }}">{{ post.publish_status | capfirst }}</span>
                    {% endif %}
                    <span class="ms-3 badge-meta-pill {{ post.post_type| lower }}">{{ post.post_type | capfirst }}</span>
                </div>
                <h3 class="h4 fw-500 mb-2">
                    <a href="{% url 'post_single' slug=post.slug %}"
                       class="text-decoration-none link-dark">{{ post.title }}</a>
                </h3>


                {% if post.author.username == user.username %}
                    <small class="me-3 text-muted text-uppercase" style="font-size:0.75rem">
                        <i class="fa-solid fa-signal"></i>&nbsp;
                        {% get_hit_count for post %} views
                    </small>

                    <small class="me-3 text-muted text-uppercase" style="font-size:0.75rem">
                        <i class="fa-regular fa-comment"></i>
                        {{ post.get_comments_count }} comments
                    </small>
                    <a class="btn btn-sm btn-xs btn-outline-primary me-3" href="{{ post.get_admin_url }}"><i
                            class="fa-regular fa-pen-to-square"></i> Edit</a>
                {% endif %}

            </div>

            <div class="flex-shrink-0 ms-3">
                {% if post.thumbnail %}
                    <div class="archive-media-object" style="max-width: 100px">
                        <img loading="lazy" src="{{ post.thumbnail.url }}" alt="{{ post.title }}" height="auto">
                    </div>
                {% endif %}
            </div>
        </div>


    </div>
{% endspaceless %}