{% load static %}
{% load custom_widgets %}
{% load define_action %}
{% load shortcodes_filters %}
{% spaceless %}
    {% define post.author as author %}
    <div class="d-flex flex-row align-items-center">
        <img src="{{ author.get_avatar }}"
             alt=""
             loading="lazy"
             height="42px"
             width="42px" style="border-radius: 50%"/>

        <div class="d-flex flex-row gap-2 ms-2 align-items-center">
            <a class="text-decoration-none text-light-emphasis fw-600 fs-4"
               href="{% url 'user_profile' username=author.username %}">
                {{ author.get_full_name_or_username }}
            </a>

            <span class="font-xs" style="color: #d5d5d5">&bull;</span>
            <span class="text-decoration-none text-muted font-xs text-uppercase fst-italic fw-400"> {{ post.updated_date|date:"M d, Y" }}</span>
            <span class="font-xs" style="color: #d5d5d5">&bull;</span>
            {% for category in post.category.all %}
                <a class="text-decoration-none link-primary font-xs text-uppercase fst-italic text-primary fw-400"
                   style="z-index:999;position:relative"
                   href="{% url 'categories_single' slug=category.slug %}">
                    {{ category.title }}
                    {% if forloop.last != True %}
                        <span class="text-muted pe-2"></span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endspaceless %}

