{% load static %}
{% spaceless %}
    {% load custom_widgets %}
    {% load define_action %}

    <div class="feed-card {{ cssClass }} feed-card-{{ article.post_type }}" data-cid="{{ article.id }}"
         data-type="{{ article.post_type }}">
        <div class="d-flex align-items-center d-flex">
            <div class="flex-shrink-0">
                {% if article.video_id %}
                    <div class="archive-media-object video-object">
                        <img loading="lazy" src="https://img.youtube.com/vi/{{ article.video_id }}/maxresdefault.jpg"
                             alt="{{ article.title }}">
                    </div>
                {% elif article.thumbnail %}
                    <div class="archive-media-object">
                        <img loading="lazy" src="{{ article.thumbnail.url }}" alt="{{ article.title }}">
                    </div>
                {% else %}
                    {% define article.category.first as category %}
                    <div class="archive-media-object {{ article.post_type }}-object">
                        <img loading="lazy" src="{{ category.logo.url }}" style="object-fit: contain;padding: 1rem">
                    </div>
                {% endif %}

            </div>

            <div class="flex-grow-1 ms-3">
                <div class="archive-meta">
                    <small class="d-inline-block text-muted text-uppercase fw-bold"
                           style="font-size:0.7rem">
                        {% pretty_date article.updated_date %}
                    </small>
                    <span class="eyebrow__spacer">·</span>
                    {% for category in article.category.all %}
                        <a class="text-decoration-none text-reset link-primary fw-bold"
                           style="z-index:999;position:relative"
                           href="{% url 'categories_single' slug=category.slug %}">
                            <small class="d-inline-block mb-1 text-primary text-uppercase fw-bold"
                                   style="font-size:0.7rem;">{{ category.title }}</small>
                            {% if forloop.last != True %}<span class="text-muted">,</span>{% endif %}
                        </a>
                    {% endfor %}

                </div>

                <h3 class="h3 fw-500 mb-2">
                    {% if article.post_type == 'article' %}
                        <a href="{% url 'article_single' slug=article.slug %}"
                           class="article-link">{{ article.title }}</a>
                    {% elif article.post_type == 'lesson' %}
                        <a href="{% url 'lesson_single' course=article.course.slug slug=article.slug %}"
                           class="article-link">{{ article.title }}</a>
                    {% endif %}
                </h3>

                <div class="archive-meta">
                    {% if article.difficulty %}
                        <span class="badge-meta-pill {{ article.difficulty }}">{{ article.difficulty | capfirst }}</span>
                    {% endif %}

                    {% if article.post_type %}
                        <span class="badge-meta-pill {{ article.post_type }}">{{ article.post_type | capfirst }}</span>
                    {% endif %}
                </div>

            </div>

        </div>

    </div>
{% endspaceless %}