{% load static %}
{% spaceless %}
{% if category %}
    <div class="my-4 p-4 category-archive-banner" style="border-color:{{ category.color }};">
        <div class="d-lg-flex">
            <div class="flex-shrink-0">
                {% if category.logo %}
                    <div class="category-thumbnail">
                        <img src="{{ category.logo.url }}" alt="{{ category.title }}" />
                    </div>
                {% endif %}
            </div>
            <div class="flex-grow-1 ms-lg-3">
                <h1 class="display-5 fw-bold">{{ category.title }}</h1>
                {% if category.description %}<p class="mb-1">{{ category.description }}</p>{% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endspaceless %}
