{% spaceless %}
    <div class="py-4 bg-light">
        <div class="container">
            <small class="footer-text  ">
                Made with <span style="color: #e74c3c">&hearts;</span> by <a href="https://twitter.com/asknilan"
                                                                             target="_blank"
                                                                             class="footer-text text-primary">@asknilan</a>.
                Check out my Youtube channel <a href="https://www.youtube.com/@TheTechMojo" target="_blank"
                                                class="footer-text text-primary">@TheTechMojo</a> for more such content.

            </small>
            <div class="d-block">
                <small>
                    <a class="footer-text  " href="{% url 'pages.contact' %}">Contact</a>
                    <span class="eyebrow__spacer footer-text ">·</span>
                    <a class="footer-text  " href="/privacy">Privacy policy</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text  " href="/terms-of-service">Terms of service</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text  " href="/cookie-policy">Cookies</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text  " href="/code-of-conduct">Code of conduct</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text  " href="/about">About</a>
                </small>
            </div>
        </div>
    </div>
{% endspaceless %}