{% spaceless %}
    <div class="py-4">
        <div class="max-w-screen-xl py-4 mx-auto">
            <p class="footer-text text-info font-sm mb-1">
                Powered by <a class="link-info" href="https://github.com/StackTipsLab/bloggy">Bloggy.</a>
                Made with <span style="color: #e74c3c">&hearts;</span> by <a href="https://twitter.com/asknilan"
                                                                             target="_blank"
                                                                             class="link-info">@asknilan</a>.
            </p>
            <div class="d-block">
                <small>
                    <a class="footer-text link-info" href="{% url 'pages.contact' %}">Contact</a>
                    <span class="eyebrow__spacer footer-text ">·</span>
                    <a class="footer-text link-info" href="/privacy">Privacy policy</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text link-info" href="/terms-of-service">Terms of service</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text link-info" href="/cookie-policy">Cookies</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text link-info" href="/code-of-conduct">Code of conduct</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text link-info" href="/about">About</a>
                </small>
            </div>
        </div>
    </div>
{% endspaceless %}