{% spaceless %}
    <div class="py-5">
        <div class="container">
            <p class="footer-text text-secondary font-sm mb-1">
                Powered by <a class="link-secondary" href="https://github.com/StackTipsLab/bloggy">Bloggy.</a>
                Made with <span style="color: #e74c3c">&hearts;</span> by <a href="https://twitter.com/asknilan"
                                                                             target="_blank" class="link-secondary">@asknilan</a>.
            </p>
            <div class="d-block pt-3">
                <small>
                    <a class="footer-text link-secondary" href="{% url 'pages.contact' %}">Contact</a>
                    <span class="eyebrow__spacer footer-text ">·</span>
                    <a class="footer-text link-secondary" href="/privacy">Privacy policy</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text link-secondary" href="/terms-of-service">Terms of service</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text link-secondary" href="/cookie-policy">Cookies</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text link-secondary" href="/code-of-conduct">Code of conduct</a>
                    <span class="eyebrow__spacer footer-text">·</span>
                    <a class="footer-text link-secondary" href="/about">About</a>
                </small>
            </div>
        </div>
    </div>
{% endspaceless %}