<section class="article-breadcrumb d-none d-md-block d-print-none">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}" class=" font-sm fw-500">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'courses' %}" class=" font-sm fw-500">Courses</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'courses_single' slug=course.slug %}" class=" font-sm fw-500">{{ course.title }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span class=" text-muted font-sm fw-500">{{ post.title }}</span>
                </li>
            </ol>
        </nav>
    </div>
</section>