{% load static %}
{% load custom_widgets %}
<ul class="list-unstyled static-pages-menu d-none d-md-block">
    <li>
        <a href="/about">About us</a>
    </li>
    <li>
        <a href="/privacy">Privacy policy</a>
    </li>
    <li>
        <a href="/cookie-policy">Cookie policy</a>
    </li>
    <li>
        <a href="/terms-of-service">Terms of service</a>
    </li>

    <li>
        <a href="/contribute">Write for us</a>
    </li>
    <li>
        <a href="/code-of-conduct">Code of Conduct</a>
    </li>
    <li>
        <a href="{% url 'pages.contact' %}">Get in touch</a>
    </li>
</ul>
<div class="mx-3 d-block d-md-none">
    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
            class="form-select border-secondary form-select-lg"
            aria-label="Select course content drop down">
        <option selected>
            Select page
        </option>
        <option value="/about">
            About us
        </option>
        <option value="/privacy">
            Privacy policy
        </option>
        <option value="/terms-of-service">
            Terms of service
        </option>
        <option value="/cookie-policy">
            Cookie policy
        </option>
        <option value="/contribute">
            Write for us
        </option>
        <option value="/code-of-conduct">
            Code of conduct
        </option>
        <option value="{% url 'pages.contact' %}">
            Get in touch
        </option>
    </select>
</div>
