{% load static %}
{% spaceless %}
    {% load custom_widgets %}
    {% if posts.has_other_pages %}

        <div class="flex text-center">
            {% if posts.has_previous %}
                <a href="{{ request.path }}?{% url_replace request 'page' posts.previous_page_number %}"
                   class="inline-flex items-center justify-center py-2 px-4 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                    </svg>
                    Previous
                </a>

            {% endif %}

            <div class="grow">
                <span class="text-muted">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
            </div>

            {% if posts.has_next %}
                <a href="{{ request.path }}?{% url_replace request 'page' posts.next_page_number %}"
                   class="inline-flex items-center justify-center py-2 px-4 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
                    Next
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            {% endif %}
        </div>





    {% endif %}
{% endspaceless %}