{% spaceless %}
    <section class="homeCourses__section pb-2 pt-md-3 pb-lg-3">
        {% load static %}
        <div class="container">
            <div class="py-3">
                <h2 class="h2">Courses</h2>
            </div>

            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 gy-3">
                {% if courses|length <= 0 %}
                    <p class="lead my-3 text-muted">No contents found!</p>
                {% endif %}

                {% for course in courses %}
                    {% include 'partials/course_grid_column.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endspaceless %}