{% load static %}
{% spaceless %}
    {% load custom_widgets %}
    <section id="homeQuizzes_section" class="homeQuizzes py-3 py-md-5">
        <div class="container">

            <div class="pt-3">
                <h2 class="h2">Interactive quizzes</h2>
            </div>

            <div class="row">
                <div class="quizzes-bg">
                    {% if quizzes|length <= 0 %}
                        <p class="lead my-3 text-muted">No contents found!</p>
                    {% else %}
                        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3">
                            {% for quiz in quizzes %}
                                <div class="col">
                                    <div class="home-quiz-card card p-3"
                                         style="background-image: url({% static 'media/quizzlet-bg.png' %})">
                                        <div class="highlight-container">
                                            <h3 class="mb-1 h4">
                                                <span class="quiz-title">
                                                    <a href="{% url 'quiz_single' slug=quiz.slug %}"
                                                       class="quiz-link">{{ quiz.title }}</a>
                                                </span>
                                            </h3>
                                            <small class="quiz-meta mb-0">
                                                {{ quiz.duration }} Minutes
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endspaceless %}