{% load static %}
{% spaceless %}
    {% load custom_widgets %}
    <section class="recent-articles py-3">
        <div class="container">
            <div class="py-2">
                <h2 class="h2">Recent posts</h2>
            </div>

            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-3">
                {% if articles|length <= 0 %}
                    <p class="lead my-3 text-muted">No contents found!</p>
                {% endif %}

                {% for article in articles %}
                    <div class="col">
                        {% include "partials/article_row_grid.html" with article=article cssClass="card-rounded" %}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-5">
                <a href="{% url 'posts' %}" class="btn btn-lg btn-primary">View all articles&nbsp;&nbsp<span
                        class="tag__chevron">&#8594</span></a>
            </div>
        </div>
    </section>
{% endspaceless %}