{% extends "base-with-header-footer.html" %}
{% load static %}
{% load custom_widgets %}
{% load define_action %}
{% load shortcodes_filters %}
{% block base_css_class %}{% endblock base_css_class %}
{% block jsonld %}
    {% include "seo/article_jsonld.html" with author=post.author %}
{% endblock jsonld %}
{% spaceless %}
    {% block content %}
        {% include 'partials/home_lesson_breadcrumb.html' %}
        <div class="container mt-lg-4 mt-md-3">
            <div class="row">
                <main id="main-content" class="hero col-12 col-md-9 col-lg-9 col-print-12 pe-lg-2">
                    <div class="d-flex ">
                        <div class="">
                            {% categories_widget count=13 content_type="article" widget_style="list" %}
                        </div>

                        <div class="flex-grow-1" style="overflow: hidden">
                            <div class="article-details-card p-lg-5 p-3 mb-4 mx-lg-3 mx-3">

                                {% if user.is_authenticated and user.is_superuser %}
                                    <a class="mb-3 btn btn-sm btn-secondary btn-xs"
                                       href="{{ post.get_admin_url }}">Edit post</a>
                                {% endif %}

                                <div class="relative">
                                    <h1 class="display-2 fw-700" style="line-height: 1.2;letter-spacing: -0.04rem">{{ post.title }}</h1>
                                    <div class="mb-2"><em><small class="text-muted font-xs text-uppercase fw-400">Last Updated: {{ course.updated_date|date:"M d, Y" }}</small></em></div>

                                    {% if post.thumbnail and post.template_type == "cover" %}
                                        <div class="article-single-thumbnails my-4">
                                            <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" loading="lazy"/>
                                        </div>
                                    {% else %}
                                        {% include 'partials/video_widget.html' %}
                                    {% endif %}

                                    <article id="article-content" class="article-content" data-cid="{{ post.id }}"
                                             data-type="{{ post_type }}">
                                        {% if post %}
                                            <div class="mb-3">
                                                <div id="article-content" class="article-content text-zoomed">
                                                    {{ post.content|expand_media_url }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </article>
                                    {% include "partials/social_share.html" with object=post %}
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <aside id="right-sidebar" class="col-12 col-md-3 col-lg-3 d-print-none">
                    <div class="sidebar-content" style="z-index: 99">
                        {% include 'partials/lesson_single_toc.html' %}
                        {% include 'widgets/ad-unit-vertical-responsive.html' %}
                    
                        {% include 'partials/github_widget.html' with githubLink=post.github_link %}
                        {% related_quizzes_widget limit=5 widget_title="Related Quizzes" %}
                        {% include 'widgets/ad-unit-vertical-responsive.html' %}
                    </div>
                </aside>
            </div>
        </div>
    {% endblock content %}
{% endspaceless %}