{% extends "base-with-header-footer.html" %}
{% load static %}
{% load custom_widgets %}
{% load define_action %}
{% load shortcodes_filters %}
{% block base_css_class %}{% endblock base_css_class %}
{% block jsonld %}
    {% include "seo/article_jsonld.html" with author=post.author %}
{% endblock jsonld %}
{% spaceless %}
    {% block content %}
        {% include 'partials/home_article_breadcrumb.html' %}
        <div class="container mt-3">
            {% include 'widgets/ad-unit-horizontal-responsive.html' %}
        </div>
        <div class="container mt-lg-4 mt-md-3">
            <div class="row">
                <main id="main-content" class="hero col-12 col-md-9 col-lg-9 col-print-12 pe-lg-2">
                    <div class="d-flex ">
                        <div class="">
                            {% categories_widget count=13 content_type="article" widget_style="list" %}
                        </div>

                        <div class="flex-grow-1" style="overflow: hidden">
                            <div class="article-details-card p-lg-5 p-3 mb-4 mx-lg-3 mx-3">
                                {% if user.is_authenticated and user.is_superuser %}
                                    <a class="mb-3 btn btn-sm btn-secondary btn-xs"
                                       href="{{ post.get_admin_url }}">Edit post</a>
                                {% endif %}

                                <div class="padding-medium relative">
                                    <h1 class="display-2 fw-700"
                                        style="line-height: 1.33333;letter-spacing: -0.035rem">{{ post.title|safe }}</h1>

                                    {% if post.thumbnail and post.template_type == "cover" %}
                                        <div class="article-single-thumbnails my-4">
                                            <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" loading="lazy"/>
                                        </div>
                                    {% else %}
                                        {% include 'partials/video_widget.html' %}
                                    {% endif %}

                                    <div class="d-lg-flex justify-content-between align-items-center py-2 mb-2">
                                        {% include 'partials/article_meta_container.html' with post=post %}
                                        {% comment %}<div class="d-none d-md-inline" id="bookmarkContainer"></div>{% endcomment %}
                                        <div class="hero article-meta-container" style="font-size: 0.85rem">
                                            {% if post.publish_status == "DRAFT" %}
                                                <span class="badge rounded-pill text-bg-warning text-white">{{ post.publish_status }} / PREVIEW</span>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <article id="article-content" class="article-content" data-cid="{{ post.id }}"
                                             data-type="{{ post_type }}">
                                        {% if post %}
                                            <div class="mb-3">
                                                <div id="article-content" class="article-content text-zoomed">
                                                    <div>{{ post.content|expand_media_url }}</div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </article>
                                    {% include "partials/social_share.html" with object=post authorName=post.author.get_full_name_or_username %}
                                    {% include 'partials/author_widget.html' with author=post.author %}

                                    {% comment %}<section id="vueRoot" class="d-print-none my-5">
                                        <comments post-id="{{ post.id }}" post-type="{{ post.post_type }}" current-user="{{ user }}"></comments>
                                    </section>{% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>


                </main>

                <aside id="right-sidebar" class="col-12 col-md-3 col-lg-3 d-print-none">
                    {% include 'widgets/ad-unit-vertical-responsive.html' %}
                    {% if post %}
                        {% include 'partials/toc_widget.html' %}
                        {% include 'partials/github_widget.html' with githubLink=post.github_link %}
                    {% endif %}

                    <div class="sidebar-content" style="z-index: 99">
                        {% include 'partials/newsletter.html' %}
                    </div>
                    {% include 'widgets/ad-unit-vertical-responsive.html' %}
                </aside>
            </div>        
        </div>

        <div class="bg-light  border-bottom py-5">
            <div class="container">
                <h2 class="mb-4 fw-600 ms-3">
                    <span class="text-secondary">&blk14;</span> Related articles
                </h2>
                {% related_article_widget count=8 slug=post.slug categories=post.category.all widget_title='Related articles' widget_style="grid" %}
            </div>
        </div>

    {% endblock content %}
{% endspaceless %}