{% extends "base-with-header-footer.html" %}
{% load static %}
{% load custom_widgets %}
{% block content %}

    <header class="hero py-4 py-lg-5 text-center text-md-start" id="homeIntroSection">
        <div class="container">
            <div class="col-12 col-lg-7 col-xl-7">
                <h1 class="font-sm text-uppercase text-primary">Contributors</h1>
                <h2 class="display-1">Meet our <span class="text-gradient text-primary">Authors</span></h2>
                <p class="fs-4 fw-400">The content on this platform has been enriched by the valuable contributions
                    from these distinguished contributors. If you are interested in joining our expert author
                    community, please see the <a class="" href="/contribute">writer's guidelines.</a></p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row row-eq-height archive-grid mb-4">
            {% for author in authors %}
                <div class="col-md-3">
                    <div class="card article-card mb-3 text-center">
                        <div class="card-body px-3 pt-3">
                            <a href="{% url 'user_profile' username=author.username %}"
                               class="text-decoration-none"> <img src="{{ author.get_avatar }}"
                                                                  alt="{{ author.get_full_name }}"
                                                                  loading="lazy"
                                                                  class="img-fluid image-rounded-square"
                                                                  style="box-shadow: 5px 15px 15px rgb(89 152 152 / 5%);border-radius: 50%"
                                                                  height="auto"
                                                                  width="100px"></a>
                            <a href="{% url 'user_profile' username=author.username %}"
                               class="text-decoration-none">
                                <h3 class="h3 text-dark mt-3 mt-lg-3">{{ author.get_full_name }}</h3>
                            </a>
                            {% include 'partials/user_profile_social_media_links.html' with userProfile=author cssClass='justify-content-center' %}
                            {% if author.bio %}
                                <small class="mb-0"
                                       style="-webkit-line-clamp:3;line-clamp:3;">{{ author.bio |striptags|slice:"0:120" |safe }}.</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}