{% extends "base-with-header-footer.html" %}
{% load static %}
{% spaceless %}
    {% load custom_widgets %}
    {% load define_action %}
    {% block jsonld %}
        {% include "seo/course_jsonld.html" %}
    {% endblock jsonld %}
    {% block content %}
        {% define course.category.first as category %}
        <section class="article-breadcrumb d-none d-md-block mb-4 d-print-none">
            <div class="container">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'courses' %}">Courses</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span>{{ course.title }}</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </section>

        <div class="container">
            {% with lessons_list=course.get_lessons.all %}
                <div class="row">

                    <main id="main-content" class="hero col-12 col-md-9 col-lg-9 col-print-12 pe-lg-2">
                        <div class="article-details-card ms-md-3 mb-4 lessons_list">

                            <div class="padding-medium relative pb-2">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <h1 class="post-title display-2 fw-600 mt-0 mb-2">{{ course.title }}</h1>
                                        <p class="pt-0 mb-2">{{ course.excerpt }}</p>
                                        <p class="text-muted my-2">
                                            <small class="text-muted text-uppercase fw-bold"
                                                   style="font-size:0.7rem">
                                                {{ lessons_list.count }} Lessons
                                            </small>
                                            <span class="meta-seperator"></span>
                                            <a class="text-decoration-none text-reset link-primary fw-bold"
                                               style="z-index:999;position:relative"
                                               href="{% url 'categories_single' slug=category.slug %}">
                                                <small class="d-inline-block mb-1 text-primary text-uppercase fw-bold"
                                                       style="font-size:0.7rem;">{{ category.title }}</small>
                                            </a>
                                            <span class="meta-seperator"></span>

                                            {% if course.difficulty %}
                                                <span class="badge-meta-pill {{ course.difficulty }}">{{ course.difficulty | capfirst }} Level</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {#                                    <hr>#}
                            {##}
                            <div class="padding-medium relative pt-2">
                                <div class="mb-2">
                                    <h3 class="h3 mb-2 mt-2">Course Highlights</h3>
                                    <p class="mt-2">{{ course.description |safe }}</p>
                                </div>

                                <div class="container overflow-hidden">
                                    <div class="row grid">
                                        {% for lesson in lessons_list %}
                                            <div class="col-12 col-md-12 ps-0">
                                                <div class="lesson_list_item d-flex align-items-top position-relative">
                                                    <div class="flex-shrink-0">
                                                        <div class="lesson_number_index">{{ forloop.counter|stringformat:"02d" }}.&nbsp;</div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h3 class="h4 fw-500 mb-1">
                                                            <a href="{% url 'lesson_single' course=course.slug slug=lesson.slug %}"
                                                               class="article-link">{{ lesson.title }}</a>
                                                        </h3>
                                                        <p class="mb-0">{{ lesson.excerpt }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>

                    <aside id="right-sidebar" class="col-12 col-md-3 col-lg-3 d-print-none">
                        <div class="sidebar-content sticky-top" style="z-index: 99">
                            {% related_article_widget count=6 slug=lesson.slug widgetTitle='Recent posts' widgetStyle="miniGrid" %}
                            {% related_quizzes_widget limit=4 widgetTitle="Quizzes" %}
                        </div>
                    </aside>
                </div>
            {% endwith %}
        </div>
    {% endblock content %}
{% endspaceless %}