{% extends "base-with-header-footer.html" %}
{% load custom_widgets %}
{% spaceless %}
    {% block content %}
        {% load static %}
        <section id="homeIntroSection" class="container homeIntro">
            <div class="hero jumbotron py-4 px-3 py-lg-5 text-center">
                <div class="container">
                    <h1 class="display-1 px-lg-5">
                        Developer Friendly Way to Learn <span class="text-gradient text-primary">Programming.</span>
                    </h1>
                    <p class="lead px-lg-5 py-2" style="max-width: 900px;margin: 0 auto">
                        StackTips brings developer-friendly ways to learn programming. With courses, articles, and
                        how-to guides, we aim to teach in the ways developers learn best.
                    </p>
                    <a class="btn btn-primary btn-lg mt-4 ms-2" href="{% url 'login' %}?next={{ request.path }}">Create
                        free account!</a>
                </div>
            </div>
        </section>

        <section class="recent-articles py-3">
            <div class="container">
                <h2 class="h2 py-2">Recent posts</h2>
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-3">
                    {% if posts|length <= 0 %}
                        <p class="lead my-3 text-muted">No contents found!</p>
                    {% endif %}

                    {% for post in posts %}
                        <div class="col">
                            {% include "partials/post_list_item.html" with post=post cssClass="card-rounded" %}
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-5">
                    <a href="{% url 'posts' %}" class="btn btn-lg btn-primary">View all articles&nbsp;&nbsp<span
                            class="tag__chevron">&#8594</span></a>
                </div>
            </div>
        </section>

        <section class="hero mt-md-3 mt-lg-5">
            {% load static %}
            <div class="container p-5">
                <h2 class="display-3 text-center mb-5 fw-600">
                    Browse by <span class="text-gradient text-primary">Categories</span>
                </h2>
                {% categories_widget count=15 widget_style="home" %}
            </div>
        </section>

        <section class="homeCourses__section my-md-3 my-lg-5">
            {% load static %}
            <div class="container">
                <h2 class="display-3 mb-3 fw-600">
                    Popular <span class="text-gradient text-primary">Courses</span>
                </h2>

                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 gy-3">
                    {% if courses|length <= 0 %}
                        <p class="lead my-3 text-muted">No contents found!</p>
                    {% endif %}

                    {% for course in courses %}
                        {% include 'partials/course_grid_column.html' %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock content %}
{% endspaceless %}