{% extends "base-with-header-footer.html" %}
{% load static %}
{% block content %}
    {% load custom_widgets %}

    <div class="bg-light user-profile-container">
        <div class="container py-4 px-5">
            <div class="d-flex d-flex py-3">
                <div class="user-avatar flex-shrink-0 ps-4">
                    <img src="{{ user.get_avatar }}"
                         alt="{{ user.name }}"
                         class="img-fluid image-rounded-square"
                         style="box-shadow: 5px 15px 15px rgb(89 152 152 / 5%);"
                         height="250px"
                         width="200px">
                </div>

                <div class="flex-grow-1 profile-details ps-4">
                    {% if user.get_full_name %}
                        <h1 class="h1">{{ user.get_full_name }}</h1>
                    {% else %}
                        <h1 class="h2 my-3">{{ user.username }}</h1>
                    {% endif %}

                    {% if user.bio %}
                        <p class="mb-2">{{ user.bio | safe }}</p>
                    {% endif %}

                    <div class="pt-1">
                        {% include 'partials/user_profile_social_media_links.html' with user=user %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-3 px-5">
        <div class="py-3 pb-md-5">
            <h1 class="h2 py-3 px-2">My articles(so far)</h1>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3 mb-3">
                {% for post in posts %}
                    <div class="col">{% include "partials/post_list_item.html" with post=post cssClass="" %}</div>
                {% endfor %}
            </div>
            {% include 'partials/paging.html' with posts=posts %}

        </div>
    </div>
{% endblock %}
