{% spaceless %}
{% load static %}
{% if debug %}
    <link rel="stylesheet" href="{% static 'dist/app.styles.css' %}"/>
{% else %}
    <link rel="stylesheet" href="{{ ASSETS_DOMAIN }}/static/dist/app.styles.css"/>
{% endif %}
<script async src="https://kit.fontawesome.com/16bc69a78f.js" crossorigin="anonymous"></script>

<!-- Google Tag Manager -->
{% if LOAD_GOOGLE_TAG_MANAGER  %}
    <script>!function(e,t,a,n,g){e[n]=e[n]||[],e[n].push({"gtm.start":(new Date).getTime(),event:"gtm.js"});var m=t.getElementsByTagName(a)[0],r=t.createElement(a);r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id=GTM-NQF9FG5",m.parentNode.insertBefore(r,m)}(window,document,"script","dataLayer");</script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JR7TS7XCGN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-JR7TS7XCGN');
    </script>
    <!-- End Google Tag Manager -->
{% endif %}

<script type="text/javascript" src="{% static 'dist/app.bundle.js' %}"></script>

{% if request.resolver_match.url_name == 'post_single' or request.resolver_match.url_name == 'lesson_single' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
{% endif %}

{% if not request.resolver_match.url_name == 'index'%}
    <script type="text/javascript" src="{% static 'dist/vue.bundle.js' %}"></script>
{% endif %}

{% if LOAD_GOOGLE_ADS %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5125794458843883"
            crossorigin="anonymous"></script>
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    {# Ad blocking recovery #}
    <script async src="https://fundingchoicesmessages.google.com/i/pub-5125794458843883?ers=1" nonce="uJEXANW_-AZQW7BJU31BeQ"></script><script nonce="uJEXANW_-AZQW7BJU31BeQ">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>
{% endif %}
{% csrf_token %}
<meta name="is_authenticated" content="{{ user.is_authenticated }}"/>
{% endspaceless %}