{% extends "base-with-header-footer.html" %}
{% load static %}
{% spaceless %}
    {% load custom_widgets %}
    {% block content %}
        {% if selected_category %}
            {% include "partials/category_archive_banner.html" with category=selected_category %}
        {% else %}
            <header class="hero py-4 py-lg-5 text-center text-md-start" id="homeIntroSection">
                <div class="container">
                    <div class="col-12 col-lg-7 col-xl-7">
                        <h1 class="font-sm text-uppercase text-primary">Tutorials</h1>
                        <h2 class="display-1">Browse from hundreds of development tutorials</h2>
                        <p class="fs-4 fw-400">Learn from beginner to advanced tutorials on Java, Spring, Python, Android and Git.</p>
                    </div>
                </div>
            </header>
        {% endif %}


        <div class="container">
            <div class="row">
                <main id="main-content" class="col-12 col-lg-9 pb-3 pb-lg-4">

                    <div class="d-flex bd-highlight">
                        {% categories_widget count=99 content_type="post" widget_style="list" %}

                        <div class="flex-grow-1">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 latest-feed-container">
                                {% if posts|length <= 0 %}
                                    <p class="lead my-3 text-muted">No contents found!</p>
                                {% endif %}

                                {% for post in posts %}
                                    <div class="col mb-3">
                                        {% include "partials/post_list_item.html" with post=post cssClass="card-rounded" %}
                                    </div>
{#                                    {% if forloop.counter|divisibleby:3 %}#}
{#                                        {% include "widgets/ad-unit-in-feed.html" %}#}
{#                                    {% endif %}#}
{#                                    {% if forloop.counter == 2 %}#}
{#                                        {% include "partials/course_row_grid.html" with courses=courses %}#}
{#                                    {% endif %}#}
                                {% endfor %}
                                {% include "partials/paging.html" with posts=posts %}
                            </div>
                        </div>
                    </div>
                </main>
                <aside id="sidebar-right" class="flex-filled col-md-3">
                    <div class="sidebar-content sticky-top" style="z-index: 99">
                        {% include 'widgets/ad-unit-vertical-responsive.html' %}
                        {% include 'partials/newsletter.html' %}
                        {% related_quizzes_widget limit=5 widget_title="Related Quizzes" %}
                        {% include 'widgets/ad-unit-vertical-responsive.html' %}
                    </div>
                </aside>
            </div>
        </div>
    {% endblock content %}
{% endspaceless %}