.adbn-wrap {
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(217 217 217 / 88%);
  backdrop-filter: blur(3px);
  z-index: 999;

  div {
    align-self: center;
    width: 30vw;
    background: $secondary;
    padding: 30px 20px;
    border-radius: $card-border-radius;
    box-shadow: 0 35px 20px -20px #ababab;
    color: #fff;
    border-top: 2px solid #ff8d00;
    animation: popupanim ease-out 0.5s;
    animation-iteration-count: 1;
  }
}

@keyframes popupanim {
  from {
    opacity: 0.3;
    transform: translate(0px, 40px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@media screen and (max-width: 1200px) {
  .adbn-wrap {
    div {
      width: 70vw;
    }
  }
}