.codeBox {
  position: relative;
}

pre[class*="lang-"],
pre[class*="language-"] {
  padding: 1rem;
}

.btn__copyCode {
  background: hsl(207.7, 12.9%, 19.8%);
  font-size: 0.75rem;
  position: absolute;
  padding: 2px 2px;
  top: 3px;
  right: 3px;
  min-width: 55px;
  color: #e3e3e3;
  border-radius: 6px;
  border: none;
}