.courses-list-item {
  border-radius: $card-border-radius;
  background: var(--bs-card-bg);
  border-bottom: 2px solid #34d399;

  .thumbnail--container {
    text-align: center;
    margin-right: 1.25rem;
    color: #66676a;
    display: flex;
    justify-content: center;
    align-items: initial;
    min-height: auto;
    max-width: 200px;

    img.thumbnail {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
      border-radius: 8px;
    }

  }

}

.quiz-link {
  @extend .stretched-link;
  color: var(--quiz-card-link-color);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-decoration-color: rgba(0, 0, 0, 0);

  &:focus,
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}


.article-link {
  @extend .stretched-link;
  color: var(--heading-link-color);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-decoration-color: rgba(0, 0, 0, 0);

  &:focus,
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}


.lessons_list {
  .lesson_list_item {
    box-sizing: border-box;
    transition: all 0.2s ease-in-out !important;
    margin: 1rem 3rem 1rem 0;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .lesson_number_index {
    font-size: 1.25rem;
    font-weight: 700;
    color: $gray-400;
    line-height: 1;
    margin-top: 3px;
    margin-right: 0.75rem;

    &::before {
      content: '';
      width: 3px;
      height: 3px;
      border-radius: 100%;
      background: $gray-400;
    }
  }
}

.lessons-menu-sidebar {
  max-height: 500px;
  overflow-y: auto;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &:hover::-webkit-scrollbar-thumb {
    border-radius: 10vw;
  }

  .list-group-item {
    padding: 0.5rem 0.25rem 0.5rem 1.5rem;

    a {
      line-height: 1.2rem !important;
      display: block;
    }

    &.active a {
      font-weight: 500;
    }
  }
}

.lessons-main-content {
  padding: 2rem 2.5rem;
}

.lessons-right-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  padding: 1rem 0 1rem 1rem;
}

.lesson-menu-widget {
  //background: rgb(218, 241, 255);
  //background: linear-gradient(197deg, rgba(218, 241, 255, 1) 0%, rgba(163, 221, 255, 1) 61%, rgba(163, 221, 255, 1) 85%, rgba(218, 241, 255, 1) 100%);
  background: rgb(226, 244, 255);
  background: linear-gradient(197deg, rgb(226, 244, 255) 0%, rgb(237, 248, 255) 25%, rgb(230, 246, 255) 87%, rgb(223, 243, 255) 100%);
}
