[data-bs-theme=light] {
  --body-bg: #F6F7F9FF;
  //--bs-body-bg: #F6F7F9FF;
  --bs-body-bg: #FFFFFF;
  --bs-light-rgb: #F6F7F9FF;
  --bs-card-bg: #ffffff;
  --card-body-text-color: #cacdcd;
  --bs-secondary-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --searchbar-text-color: #87bef5;
  --navbar-toggler-bg: #e1f5fe;
  --default-card-bg: #fff;
  --course-card-bg: #fff;
  --heading-link-color: #0F172AFF;
  //--main-navbar-color: #068bea;
  //--main-navbar-dark-color: #067fd7;

  --main-navbar-color: rgba(255, 255, 255, .6);;
  --main-navbar-dark-color: #ffffff;

  --feed-card-bg: #ffffff;//var(--bs-body-bg);
  --breadcrumb-bg: #eceff4f2; //#e9ecef;
  --breadcrumb-text-color: #343a40;
  --tags-list-a-bg: hsl(219, 23%, 97%);
  --tags-list-a-color: #24292e;
  --tags-list-a-border-color: #888888;
  --form-control-bg: #fff;
  --form-control-border-color: #65748a;
  //--form-control-border-color: #212529;
  //--toc-header-bg: #e9ecef;
  --toc-header-bg: #eceff4f2;
  --toc-content-bg: hsl(219deg, 23%, 97%);
  --archive-media-object-bg: #eceff4;
  --table-column-bg: rgba(225, 225, 225, 0.25);
  --table-border-color: rgb(220, 223, 228);
}

[data-bs-theme=dark] {
  --bs-body-bg: #181b24;
  --body-bg: #2c3339;
  --bs-white-rgb: 35, 35, 35;
  --bs-light-rgb: #232323;
  --bs-card-bg: #2c3339;
  --card-body-text-color: #a4b2b9;
  --bs-secondary-rgb: 28, 115, 221;


  .btn-outline-secondary {
    --bs-btn-color: #e3eeff;
    --bs-btn-border-color: #e6ecf5;
    --bs-btn-hover-color: #1e1c1c;
  }

  --searchbar-text-color: var(--bs-secondary-color);
  --course-card-bg: #000f0829;
  --default-card-bg: #2c3339;
  --navbar-toggler-bg: #2c3339;
  --heading-link-color: #cfefff;
  --main-navbar-color: #21262b;
  --main-navbar-dark-color: #2B3035;
  --feed-card-bg: #252b31;//var(--bs-card-bg);
  --breadcrumb-bg: #2B3035;
  --breadcrumb-text-color: #a4b2b9;
  --tags-list-a-bg: hsl(204, 14.3%, 13.7%);
  --tags-list-a-color: var(--breadcrumb-text-color);
  --tags-list-a-border-color: #525353;
  --form-control-bg: #24292e;
  //--form-control-border-color: #464a4f;
  --form-control-border-color: #212529;
  --toc-header-bg: hsl(204, 14.3%, 13.7%);
  --toc-content-bg: #24292e;
  --archive-media-object-bg: #24292E;
  --table-column-bg: #2b2d30;
  --table-border-color: #525353;


  .timeline-container {
    //background: rgb(44, 51, 57);
    //background: linear-gradient(197deg, rgb(44 51 57) 0%, rgb(44 51 57) 25%, rgb(36, 41, 46) 87%, rgb(44, 51, 57) 100%);
  }
}
