
pre {
  font-size: 0.95rem;
  color: rgb(47, 51, 55);
  background: $body-bg;
  margin: 1rem 0;
  padding: 1rem;
  line-height: 1.3rem;
  font-family: $font-family-monospace;
  position: relative;

  & > code {
    padding: 0 !important;
  }
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: rgb(47, 51, 55);
  //background: rgb(246, 246, 246);
  background: $body-bg;
}

.xml .hljs-meta {
  color: silver
}

.hljs-comment,
.hljs-quote {
  //color: #007400
  color: hsl(210, 8%, 43.5%)
}

.hljs-attribute,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  //color: #aa0d91
  color: rgb(183, 83, 1);
}

.hljs-template-variable,
.hljs-variable {
  color: #3f6e74
}

.hljs-code,
.hljs-meta .hljs-string,
.hljs-string {
  //color: #c41a16
  color: rgb(86, 122, 13)
}

.hljs-link,
.hljs-regexp {
  color: #0e0eff
}

.hljs-bullet,
.hljs-number,
.hljs-symbol,
.hljs-title {
  color: #1c00cf
}

.hljs-meta,
.hljs-section {
  color: #643820
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-params,
.hljs-title.class_,
.hljs-type {
  color: #5c2699
}

.hljs-attr {
  //color: #836c28
  color: rgb(1, 84, 147);
}

.hljs-subst {
  color: #000
}

.hljs-formula {
  background-color: #eee;
  font-style: italic
}

.hljs-addition {
  background-color: #baeeba
}

.hljs-deletion {
  background-color: #ffc8bd
}

.hljs-selector-class,
.hljs-selector-id {
  color: #9b703f
}

.hljs-doctag,
.hljs-strong {
  font-weight: 600
}

.hljs-emphasis {
  font-style: italic
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

