
pre {
  color: rgb(47, 51, 55);
  background: $body-bg;

  > code {
    background: none !important;
    border: none !important;
  }
}

code {
  box-sizing: border-box;
  width: fit-content;
  padding: 3px 6px;
  background: hsl(216deg 13.51% 92.75%);
  color: var(--bs-body-color);
  border-radius: 4px;
  border: 1px solid rgba(234, 234, 234, 0.63);
  white-space: pre;
  font-weight: normal !important;
}


pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: rgb(47, 51, 55);
  //background: rgb(246, 246, 246);
  background: $body-bg;
}

.xml .hljs-meta {
  color: silver
}

.hljs-comment,
.hljs-quote {
  //color: #007400
  color: hsl(210, 8%, 43.5%)
}

.hljs-attribute,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  //color: #aa0d91
  color: rgb(183, 83, 1);
}

.hljs-template-variable,
.hljs-variable {
  color: #3f6e74
}

.hljs-code,
.hljs-meta .hljs-string,
.hljs-string {
  //color: #c41a16
  color: rgb(86, 122, 13)
}

.hljs-link,
.hljs-regexp {
  color: #0e0eff
}

.hljs-bullet,
.hljs-number,
.hljs-symbol,
.hljs-title {
  color: #1c00cf
}

.hljs-meta,
.hljs-section {
  color: #643820
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-params,
.hljs-title.class_,
.hljs-type {
  color: #5c2699
}

.hljs-attr {
  //color: #836c28
  color: rgb(1, 84, 147);
}

.hljs-subst {
  color: #000
}

.hljs-formula {
  background-color: #eee;
  font-style: italic
}

.hljs-addition {
  background-color: #baeeba
}

.hljs-deletion {
  background-color: #ffc8bd
}

.hljs-selector-class,
.hljs-selector-id {
  color: #9b703f
}

.hljs-doctag,
.hljs-strong {
  font-weight: 600
}

.hljs-emphasis {
  font-style: italic
}

.btn__copyCode {
  background: var(--toc-header-bg);
  color: var(--heading-link-color);
}