#homeIntroSection {
  background-repeat: repeat;

  .text-gradient {
    background: -webkit-linear-gradient(30deg, #769BF2, #15CA82);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-bg {
    background: #eceff4;
    background: -webkit-linear-gradient(30deg, #eceff4, #ffffff) !important;
  }

@keyframes scale {
  100% {
    transform: scale(1);
  }
}


.hover-effect {
  &:hover {
    background: #ebfcff !important;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear, transform .2s;
  }
}

.scrolling-wrapper {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}


.topics-tag {
  padding: 1.1rem 1rem;
  background: #f0f9ff;
  border-radius: $card-border-radius;
  border: 0.09rem solid #b5c4cc;
  transition: all 0.2s ease-in-out !important;
  position: relative;

  &:hover {
    transform: translateY(-5px);
  }

  //.tag__chevron {
  //  height: 24px;
  //  width: 24px;
  //  color: $body-color
  //}
  //
  //.tag__image {
  //  -o-object-fit: contain;
  //  object-fit: contain;
  //  width: 32px;
  //  height: 32px;
  //}

}


@media screen and (min-width: 992px) {
  .latest-feed-container {
    padding: 0 1.75rem;
    margin: 0 1.5rem;
  }
}


.section-title {

  h2 {
    border-color: #cfe0e9;

    &:after {
      display: block;
      width: 32px;
      padding-top: -3px;
      border-bottom: 4px solid $primary;
      content: '';
    }

  }


}

