@media print {
  pre {
    //border: 1px solid #222222 !important;
    background: hsl(219, 23%, 97%) !important;
    -webkit-print-color-adjust: exact;
    box-shadow: inset 0 0 0 1000px hsl(219, 23%, 97%);
  }

  .cookie-consent-banner,
  .btn__copyCode {
    display: none;
  }

  .container-wrap.px-5 {
    padding: 0 !important;
  }

  .lessons-main-content {
    width: 100% !important;
  }


.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}
}


