.toc-widget {
  margin-bottom: 1.5rem;

  .collapsible {
    background-color: var(--toc-header-bg);
    cursor: pointer;
    padding: 0.75rem 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-weight: 500;
    color: var(--heading-link-color);

    &:after {
      content: '\02795';
      font-size: 13px;
      color: var(--heading-link-color);
      float: right;
      margin-left: 5px;
      line-height: 1.3rem;
    }

    &:hover {
      background-color: var(--toc-header-bg);
    }
  }

  .active {
    background-color: var(--toc-header-bg);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &:after {
      content: "\2796";
    }

  }

  .toc-list {
    padding: 10px 0;
  }

  .content {
    padding: 0 1rem;
    background-color: var(--toc-content-bg);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: $card-border-radius !important;
    border-bottom-right-radius: $card-border-radius;
  }

}

.toc-content-link {
  &.h1,
  &.h2,
  &.h3,
  &.h4,
  &.h5 {
    font-size: 0.85rem;
    font-weight: normal;
    text-decoration: none;
    margin-top: 0.75rem;
  }
}