article {

  li, p {
    font-size: 1.05rem;
    line-height: 1.75;
  }

  .lead {
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em
  }

  h1 {
    font-size: $h1-font-size * 1.1;
    margin-top: 1.1em;
    margin-bottom: .8888889em;
    line-height: 1.1111111
  }

  h2 {
    font-size: $h2-font-size * 1.3;
    margin-top: 1.35em;
    margin-bottom: 0.5em;
    line-height: 1.3333333
  }

  h3 {
    font-size: $h3-font-size * 1.3;
    margin-top: 1.35em;
    margin-bottom: .5em;
    line-height: 1.3333333
  }

  h4 {
    font-size: $h4-font-size * 1.3;
    margin-top: 1em;
    margin-bottom: .5em;
    line-height: 1.3333333
  }

  h5 {
    font-size: $h5-font-size * 1.3;
    margin-bottom: .5em;
    line-height: 1.5
  }

}

.questions-page > .article-content,
.article-details-card {
  background: var(--bs-card-bg);
  overflow: hidden;
}

.article-card {
  position: relative;
  overflow: hidden;
  border-radius: $card-border-radius;
  //background: var(--bs-card-bg);
  background: var(--feed-card-bg);
  transition: all 0.2s ease-in-out !important;
  min-height: 90px;
  margin: 0;
  //box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);

  &:hover {
    transform: translateY(-5px);
  }
}


.feed-card {
  @extend .card;
  //background-color: var(--feed-card-bg);
  background: var(--default-card-bg);
  box-shadow: none;
  padding: 0.75rem;
  transition: all 0.2s ease-in-out !important;
  min-height: 90px;
  margin: 0;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.meta-seperator {
  &::before {
    content: " ";
    width: 3px;
    height: 3px;
    background: #a2a9b3;
    display: inline-block;
    border-radius: 4px;
    line-height: 1rem;
    margin: 0 5px;
    text-align: center;
    vertical-align: middle;
  }
}

.category_archive_banner {
  border-left: 3px solid $primary;
  border-radius: $card-border-radius;
  background: var(--bs-body-bg);

  .category_thumbnail {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      line-height: 80px;
    }
  }
}


.article-single-thumbnails {
  width: 100%;
  //background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  text-align: center;
  overflow: hidden;
  margin: 0;
  background-position: center;
  border-radius: 0;
  max-height: 360px;

  img {
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%);
  }
}


.article-single-videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


@media screen and (min-width: 992px) {
  .post-single-title {
    font-size: 2.75rem;
  }

  .feed-card {
    padding: 1rem;
  }

  .questions-page > .article-content,
  .article-details-card {
    border-radius: $card-border-radius;
    //box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
  }
}


.mini-thumbnail {
  width: 100px;
  height: 70px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}


.related-posts-list {

  li {
    //padding: 0.15rem 0;
    //margin: 5px 0 5px 25px;
    //list-style-type: disc;
    //list-style-position: outside;

    &::marker {
      //color: $gray-600;
    }
  }
}