{% extends 'base-with-header.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <section id="login-wrapper" class="pt-md-5">
        <div class="login-wrapper-inner align-items-center card-rounded card-shadow update-profile-form">
            <h2 class="display-3 lh-1 fw-normal mb-2">Change password</h2>
            <p class="">Please enter your new password. A strong password helps to prevent unauthorized access to your account!</p>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <p class="help is-danger">{{ field.errors|striptags }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div>
                    <button type="submit" class="btn login-btn btn-primary w-100 my-2">Reset Password</button>
                </div>
            </form>

        </div>
    </section>
{% endblock %}
