{% extends 'base-with-header.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <section id="login-wrapper" class="pt-md-5">
        <div class="login-wrapper-inner align-items-center card-rounded card-shadow update-profile-form">
            <h2 class="display-3 lh-1 fw-normal mb-2">Forgot password</h2>
            <p class="">To reset your account password, enter your registered email address and we will send you the
                password reset instructions on your email.</p>

            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {% if field.errors %}
                            <p class="help is-danger">{{ field.errors|striptags }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-buttons">
                    <input type="submit" value="Reset my password" class="btn login-btn btn-primary w-100 my-2">
                    <a href="{% url 'login' %}" class="btn login-btn btn-secondary w-100">Back to login</a>
                </div>
            </form>

        </div>
    </section>
{% endblock %}
