{% extends 'base-with-header.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <section id="login-wrapper" class="pt-md-5">
        <div class="login-wrapper-inner align-items-center card-rounded card-shadow update-profile-form">
            <h2 class="display-3 lh-1 fw-normal mb-2">Password changed!</h2>
            <p>Your password has been changed successfully. </p>

            <a href="{% url 'login' %}" class="btn login-btn btn-primary w-100">Back to login</a>
        </div>
    </section>
{% endblock %}
